body
	background-image $backgroundBodyColor
main
	margin-top 7.813em
	background-color $bColor_main
	&.home
		background-color transparent
		> .row
			margin-top $default
			
	.benefits
		border 0 none
		figcaption
			b
				color green
			

blockquote
	@extend h3
	// margin-top 71px
	// padding-bottom 34px
	color sixth
		
.up-bottom
	i
		color blanco
		background-color blueinfo
		font-size 66px
		border-radius 100px
		width 80px
		height 80px
		display block
		margin-bottom 17px
		//margin-top -22px

.bus
	margin-bottom 77px

.book-header
	font-size 33px
	font-weight 600

.separator
	margin-bottom $default
	width 100%

.formas-pago 
	img
		margin 0 auto

.pleca-msi
	background-color blanco
	img
		margin 0 auto