.breadcrumb
	// width 100%
	background-color twenty
	margin-top ($default * 2)
	//padding-left $default
	padding $default
	li	
		a
			color gris-oscuro
			&:after
				content '/'
				padding 0 0 0 $default
				display inline-block
		&:last-child
			margin 0
			a
				&:after
					content ''