//
// Carousel
// --------------------------------------------------


// Wrapper for the slide container and indicators
.carousel
	position relative
.carousel-inner
	position relative
	overflow hidden
	width 100%
	//padding-bottom 12.25%

	> .item
		display none
		position relative
		transition .6s ease-in-out left
		margin-bottom 0
		will-change left, opacity
		&:before
			content ''
			display block
			padding-top 65.10%
		// Account for jankitude on images
		> img,
		> a > img
			@extend .img--responsive
			line-height 1
			position absolute
			left 0
			top 0


		// WebKit CSS3 transforms for supported devices
		// @media all and (transform-3d), (-webkit-transform-3d)
		// 	transition transform .6s ease-in-out
		// 	backface-visibility hidden
		// 	transform perspective(1000px)

		// 	&.next,
		// 	&.active.right
		// 		transform translate3d(100%, 0, 0)
		// 		left 0

		// 	&.prev,
		// 	&.active.left
		// 		transform translate3d(-100%, 0, 0)
		// 		left 0

		// 	&.next.left,
		// 	&.prev.right,
		// 	&.active
		// 		transform translate3d(0, 0, 0)
		// 		left 0

	> .active,
	> .next,
	> .prev
		display block
	> .active
		left 0
	> .next,
	> .prev
		position absolute
		top 0
		width 100%

	> .next
		left 100%

	> .prev
		left -100%

	> .next.left,

	> .prev.right
		left 0

	> .active.left
		left -100%

	> .active.right
		left 100%


// Left/right controls for nav
// ---------------------------

.carousel-control
	position absolute
	top 0
	bottom 0
	width 4em
	height 4em
	line-height 4em
	color blanco
	text-align center
	margin auto
	//text-shadow $carousel-text-shadow
	background-color rgba(0, 0, 0, 0)
	span
		color blanco
		font-size 4rem
	// Hover/focus state
	&:hover,
	&:focus
		outline 0
		//color $carousel-control-color
		text-decoration none
		opacity 0.9
	
	&.left
		left 0
	
	&.right
		right 0

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.
		
.carousel-indicators
	bottom 10px
	left 0
	list-style none
	margin auto
	padding-left 0
	position absolute
	right 0
	text-align center
	width 80%
	z-index 15

	li
		display inline-block
		width 1.00rem
		height 1.00rem
		margin-right 1.500rem
		text-indent -999px
		//border 1px solid //$carousel-indicator-border-color
		border-radius 50%
		cursor pointer
		background-color primary
		
		&:last-child
			margin-right 0

		// IE8-9 hack for event handling
		//
		// Internet Explorer 8-9 does not support clicks on elements without a set
		// `background-color`. We cannot use `filter` since that's not viewed as a
		// background color by the browser. Thus, a hack is needed.
		// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
		//
		// For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
		// set alpha transparency for the best results possible.
		// background-color unquote('#000 \9') // IE8
		// background-color rgba(0, 0, 0, 0) // IE9

	.active
		background-color blanco
		margin-bottom 0.500rem
	
.home
	.carousel-indicators
		bottom 30px

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption
	position absolute
	left 15%
	right 15%
	bottom 20px
	z-index 10
	padding-top 20px
	padding-bottom 20px
	//color $carousel-caption-color
	text-align center
	//text-shadow $carousel-text-shadow

	&.btn
		text-shadow none // No shadow for button elements in carousel-caption

@media (min-width : 61.875em)
	.slider--button
		display block
	// Scale up the controls a smidge
	.carousel-control
		top 20%
		span
			font-size 3rem
	// Show and left align the captions
	.carousel-caption
		left 20%
		right 20%
		padding-bottom 30px

	// Move up the indicators
	.home
		.carousel-indicators
			bottom 86px
		.item
			&:before
				padding-top 47.83%
