//
//	M O B I L E  T O  U P
//

//
// H E A D E R
//
$bWidth = 100% / 6 //calc(100% / 6)
header
	position absolute
	width 100%
	left 0
	top 0
	z-index 100
	background-color primary
	color $cColor_Header
	will-change transform
	&.is_fixed
		top -63px
		left 0
		box-shadow 0 3px 15px grayShadowHover
		position fixed
.header--item
	float left
	width $bWidth
	border-right 1px solid secondary
	height 6.250rem //50px
	&:first-child
		i
			line-height 6.250rem
			color blanco
	&.logo
		width ($bWidth * 2) //3
		padding 0 $default
		a
			display block
			height 100%
			position relative
			
			img
				{absoluteCenter}
	
	&.carrito
	&.divisa
		position relative
		button
			@extend .button--square
		
		.badge
			top 10px
			right 10px
			background-color white
			color  #491149
	
	&:nth-of-type(5)
		border 0 none
	.dropdown-menu
		background-color darken(primary, 10%)
		color blanco

.nav-hide
	width 100%
	position absolute
	left 0
	top 50px
	z-index 50
	padding $default
	background-color sixth
	color blanco
	-webkit-overflow-scrolling touch
	hr
		margin $default 0
		border-top-color inherit
	
	.panel:last-child
		.panel-heading
			border 0 none
	.acc
		border-bottom: 1px solid blanco
		background-color transparent
		padding-top $default
		
		.accordion-content
			display none
	
	.nav--block
		height 600px
		overflow-y scroll
		overflow-x hidden

.nav-primary
	> li
		flex-grow 2
		&:last-child
			flex-grow 1
			
//
//	M I N - W I D T H : 768px equal to Tablet portrait
//
@media (min-width : 48.000em)
	// .header--item
	// 	width 25%
	// 	// &:first-child
	// 	// 	width 25%
	header
		will-change auto
	.nav-primary
		> li
			> a
				font-size 1.6rem

//
//	M I N - W I D T H : 990px equal Tablet lanscape to Desktop
//
@media (min-width : 61.875em)
	.nav-primary
		> li
			flex-basis 33.33%
	.header--bottom
		margin-bottom 0
		//transform translate3d(0,0,0)
		will-change transform
		&.is_fixed
			position fixed
			left 0
			top 0
			right 0
			margin-right auto
			margin-left auto
			max-width 1080px
	.header--item
		//border none
		&.logo
			a
				img
					max-width 60%
//	
//	M I N - W I D T H : 1025px equal Tablet lanscape to Desktop
//
@media (min-width : 64.063em)
	//
	// 	B A C K D R O P
	//
	.backdrop
		display none
	//
	// H E A D E R
	//
	header
		position relative
		background none
	.header--top
		a
			color blueinfo
		nav
			margin-top 2.500rem
		.social
			font-size 2rem
		li
			margin-right ($default * 2)

	.header--item
		height auto
		border 0 none
		&:first-child
			a
				img
					max-width 80%
					position relative
		