.hidden-lateral
	background-color $bColor_lateralNav
	display none
	height 100%
	padding $default
	position absolute
	top 0
	left 0
	width 100%
	will-change transform
	z-index 100
	
	&.show
		display block
		