.banner
	background-color senary
	padding $default
	text-align center
	//margin-bottom $default
	color $cColor_banner
	width 100%
	
	h4
		color inherit
		font-weight 700
		margin-bottom 0
		font-size 2.5rem
	p
		margin-bottom 0
		color inherit
	
	&.banner-packages
		background-color blueinfo
		color blanco
		font-family 'Source Sans Pro', sans-serif
		// .button
		// 	width 100%
		.dropdown-menu
			margin-top $default
			background-color darken($bColor_filter, 30%)
			width 300%
			max-width 300%
		
		label
			font-weight 400
			margin-right $default
		
		h5
			color inherit
			//margin-bottom 0
		
		.button--group
			width 45%
			float right
			.button
				//width 50%
				float left
			
				&:first-child
					margin-right $default