.listing-card
	border 1px solid grisBorder
	border-radius 5px
	box-shadow 0 5px 15px grisBorder
	margin-bottom 15px
	margin-left 0
	padding 15px
.listing-card-price
	text-align center
.regular
	text-decoration line-through
.online
	color online
		
			