//THE THEME
// All colors are given a name variable and should be set with RGB sinxtax

// b = background
// c = color

//MAIN COLORS
como = rgb(86, 139, 114)
greenPea = #225a40
englishHolly = rgb(3, 46, 26)
blueSmoke = rgb(112, 144, 133)
blueDianne = rgb(34, 90, 83)
hippieGreen = rgb(100, 139, 86)
porcelain = rgb(243, 246, 245)
baliHai = rgb(143, 163, 184)
slateGrey = rgb(112, 128, 144)
trout = rgb(77, 88, 99)
alto = rgb(214, 214, 214)

fountainBlue = rgb(105, 183, 201)

grayShadow = rgba(135, 135, 135, 0.30)
grayShadowHover = rgba(135, 135, 135, 0.60)

// Default colors

blanco = rgb(255,255,255)
//gris = rgb(158,158,158)
gris-oscuro = rgb(53, 58, 57)
negro = rgb(0,0,0)
online = rgb(35,160,0)
rojo-cesar = rgb(255, 0, 0)
rojo-cesar-disabled = rgb(255, 113, 113)
blueinfo = rgb(0, 174, 170)
opacidad = rgba(255, 255, 255, 0.57)

// Brand colors - Listed all colors do you want
primary = rgb(255, 0, 153)
secondary = rgb(209, 2, 0)
tertiary = rgb(255, 119, 0)
quaternary = rgb(107, 60, 13)
quinary = rgb(208, 15, 151)
fifth = rgb(0, 0, 0)
sixth = rgb(132, 30, 129)
seventh = rgb(73, 17, 73)
senary = rgb(165, 47, 168)
seventy = rgb(116, 121, 122)
eighteenth = rgb(0, 172, 168)
nineteen = rgb(251, 245, 236, 1)
twentieth = rgb(254, 252, 247)
twenty = rgb(243, 236, 223, 1)



//
// F O N T  F A M I L Y 
//
$fontFamily = 'Source Sans Pro', sans-serif

//Element Colors
$cColor_text = quaternary
$cColor_h1 = primary
$cColor_h2 = secondary
$cColor_h3 = primary
$cColor_h4 = blanco
$cColor_h5 = quaternary
$cColor_h6 = quaternary

$bColor_main = transparent

$bColor_ButtonPrimary = primary
$cColor_ButtonPrimary = blanco

$bColor_ButtonSecondary = quaternary
$cColor_ButtonSecondary = blanco

$bColor_ButtonTertiary = tertiary
$cColor_ButtonTertiary = tertiary

// sections
$bColor_Body = blanco

$bColor_Header = quaternary
$cColor_Header = secondary

$bColor_Footer = sixth
$cColor_Footer = sixth
$bColor_BottomFooter = seventh

// navs
$bColor_mainNav = secondary
$cColor_MainNav = quaternary

$bColor_lateralNav = quaternary
$cColor_lateralNav = blanco

//Breadcrumb
$bColor_Breadcrumb = quaternary
$cColor_Breadcrumb = blanco

//Accordion
$bColor_accordion = tertiary
$cColor_accordion = blanco

//Savings
$bColor_saves = blueinfo
$cColor_saves = blanco

//Banner booking
$bColor_banner = tertiary
$cColor_banner = blanco

//
$bColor_tableHeader = quaternary
$cColor_tableHeader = blanco

//
// P A Q U E T E S
//

// F i l t e r
$bColor_filter = quaternary
$cColor_filter = blanco
$cBorder_item = quaternary

// I t e m

$bColor_item = blanco
$cColor_item = inherit

//Vars

// Standard padding & margin
$default = 0.983rem
// Standard height
$dHeight = 6.250rem //50px
// Standard padding & margin
$dBorder = 1px solid trout
$dBorderRadious = .313em
$backgroundBody = transparent url(/img/bkg-min.jpg) center no-repeat//THE THEME
// All colors are given a name variable and should be set with RGB sinxtax

// b = background
// c = color

//MAIN COLORS
como = rgb(86, 139, 114)
greenPea = #225a40
englishHolly = rgb(3, 46, 26)
blueSmoke = rgb(112, 144, 133)
blueDianne = rgb(34, 90, 83)
hippieGreen = rgb(100, 139, 86)
porcelain = rgb(243, 246, 245)
baliHai = rgb(143, 163, 184)
slateGrey = rgb(112, 128, 144)
trout = rgb(77, 88, 99)
alto = rgb(214, 214, 214)

fountainBlue = rgb(105, 183, 201)

grayShadow = rgba(135, 135, 135, 0.30)
grayShadowHover = rgba(135, 135, 135, 0.60)

// Default colors

blanco = rgb(255,255,255)
gris = rgb(158,158,158)
negro = rgb(0,0,0)
online = rgb(35,160,0)
rojo-cesar = rgb(255, 0, 0)
rojo-cesar-disabled = rgb(255, 113, 113)
blueinfo = rgb(0, 174, 170)

// Brand colors - Listed all colors do you want
primary = rgb(255, 0, 153)
secondary = rgb(209, 2, 0)
tertiary = rgb(255, 119, 0)
quaternary = rgb(107, 60, 13)
quinary = rgb(208, 15, 151)
fifth = rgb(0, 0, 0)
sixth = rgb(132, 30, 129)
seventh = rgb(73, 17, 73)
senary = rgb(165, 47, 168) 

//
// F O N T  F A M I L Y 
//
//$fontFamily = 'fuente-xox' normal

//Element Colors
$cColor_text = quaternary
$cColor_h1 = primary
$cColor_h2 = secondary
$cColor_h3 = primary
$cColor_h4 = blanco
$cColor_h5 = quaternary
$cColor_h6 = quaternary

$bColor_main = transparent

$bColor_ButtonPrimary = primary
$cColor_ButtonPrimary = blanco

$bColor_ButtonSecondary = quaternary
$cColor_ButtonSecondary = blanco

$bColor_ButtonTertiary = tertiary
$cColor_ButtonTertiary = tertiary

// sections
$bColor_Body = blanco

$bColor_Header = quaternary
$cColor_Header = secondary

$bColor_Footer = sixth
$cColor_Footer = sixth
$bColor_BottomFooter = seventh

// navs
$bColor_mainNav = secondary
$cColor_MainNav = quaternary

$bColor_lateralNav = quaternary
$cColor_lateralNav = blanco

//Breadcrumb
$bColor_Breadcrumb = quaternary
$cColor_Breadcrumb = blanco

//Accordion
$bColor_accordion = tertiary
$cColor_accordion = blanco

//Savings
$bColor_saves = blueinfo
$cColor_saves = blanco

//Banner booking
$bColor_banner = tertiary
$cColor_banner = blanco

//
$bColor_tableHeader = quaternary
$cColor_tableHeader = blanco

//
// P A Q U E T E S
//

// F i l t e r
$bColor_filter = quaternary
$cColor_filter = blanco
$cBorder_item = quaternary

// I t e m

$bColor_item = blanco
$cColor_item = inherit

//Vars

// Standard padding & margin
$default = 0.983rem
// Standard height
$dHeight = 6.250rem //50px
// Standard padding & margin
$dBorder = 1px solid trout
$dBorderRadious = .313em
$backgroundBody = transparent url(/img/bkg-min.jpg) center no-repeat
$backgroundBodyColor = linear-gradient(top,#FDF5E6 0%,#FFFFFF 70%)