.news--modal
	color gris-oscuro
	
	h4
		color gris-oscuro
// .btn
// 	background-color primary
// 	border-radius 5px
// 	width 19%
// 	&:focus
// 		color darken(primary, 50%)
// 	input
// 		color blanco
// 		border none !important
// 		margin 0 !important
// 		width 100% !important


	/*
	M I N - W I D T H : 768px equal to Tablet portrait
*/
@media (min-width : 48.000em)
	// B O O K I N G  G E N E R A L
	.news
		width 17em
		height 23em
		border-radius 50%
		overflow hidden
		padding $default
		text-align center
		margin 0 auto
		a
			text-decoration none
			color blanco
		.img
			min-height 150px
		p
			margin-bottom -125px
		.button
			color inherit
			font-size 150%
			position relative
			top -100px
			

// @media (min-width : 61.875em)
// 	.news
// 		width 23em
// 		height 23em
// 		border-radius 50%
// 		overflow hidden
// 		padding $default
// 		text-align center
// 		margin 0 auto
// 		a
// 			text-decoration none
// 			color blanco
// 		.img
// 			max-width 80%
// 			margin 2.8em auto 0
// 		p
// 			margin-bottom -125px
// 		.button
// 			color inherit
// 			font-size 160%
// 			margin-top 30px


			
		